@model List<SchoolManager.Areas.Procedures.Models.procedure_job_position>

<div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
        <thead class="bg-burgundy text-white">
            <tr>
                <th>Nombre del Puesto</th>
                <th>Descrpción del Puesto</th>
                <th class="text-center">Fecha Registro</th>
                <th class="text-end pe-4">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold">@item.Name
                        @* <div class="text-muted small">ID: #@item.Id</div> *@
                    </td>
                    <td>@item.Description</td>
                    <td class="text-center small text-muted"><i class="bi bi-clock-history me-1"></i> @item.CreatedAt.ToString("dd/MM/yyyy hh:mm tt")</td>
                    <td class="text-end pe-4">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-light border shadow-sm me-2" onclick="loadJobModal(@item.Id)" title="Editar">
                                <i class="bi bi-pencil-square text-warning"></i>
                            </button>
                            <button class="btn btn-sm btn-light border shadow-sm" onclick="openDeleteModal(@item.Id)" title="Eliminar">
                                <i class="bi bi-trash3 text-danger"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center py-4 text-muted italic">
                        No hay puestos registrados en el catálogo.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>